/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
$dark: #191919;
$orange: #fd6000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 66px;
  min-width: 100%;
  margin-bottom: 50px;
  min-height: 100vh;
  clear: both;
}

a:hover {
  color: $orange !important;
  text-decoration: none;
  background-color: transparent;
}

.text-orange {
  color: $orange;
}

.alert {
  border-radius: 0;
}

.alert:not(:last-child) {
  margin-top: -20px;
}

.best-section {
  .img-fit {
    img {
      object-fit: cover;
      width: 19rem;
    }
  }
}

.mr-category {
  margin-left: -5rem !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $dark;
}

.fa {
  padding: 3px;
  font-size: 16px;
  width: 27px;
  border-radius: 47%;
  text-align: center;
  text-decoration: none;
  margin: 4px 0;
  color: $dark;
  background-color: $orange;
}

@media (max-width: 992px) {
  body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    max-width: 30%;
  }
}
