/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
$dark: #191919;
$orange: #fd6000;

body {
  margin-top: 66px;
  min-height: 200px;
  margin-bottom: 50px;
  clear: both;
}

a:hover {
  color: $orange !important;
  text-decoration: none;
  background-color: transparent;
}

.text-orange {
  color: $orange;
}

.alert {
  border-radius: 0;
}

.alert:not(:last-child) {
  margin-top: -20px;
}

.best-section {
  width: 100%;
  height: 500px;

  .img-fit {
    img {
      object-fit: cover;
      width: 19rem;
    }
  }
}

.best-title {
  margin-top: 23rem;
}

.containe {
  .m-t {
    margin-left: 20rem;
  }
}

.mr-category {
  margin-left: -5rem !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $dark;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: $dark;
  background-color: $orange;
}

/* @media (min-width: 992px) {} */
