
<footer class=" small  ">

<div class="row ml-3 mt-3">
<div class="col-sm-3">
        <%= link_to root_path, class:"navbar-item text-white " do %>
          <h1 class="title h5 text-capitalize ">PostZy<span class="text-warning">&#9679;</span></h1>
        <% end  %>
    </div>
     <div class="col-sm-6 mt-1 footer-copyright">
      <span class="text-orange">Copyright © 2020 All rights reserved <span><span class="text-white"> -  Razika Rahal</span>
    </div>
    
    <div class="col-sm-3">
    <span class="text-white small font-weight-bold text-uppercase">contacte with us :<span>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>  
  </div>
   
  </div>
</footer>
