
<footer class=" small py-3">

<div class="row">
<div class="col-sm">
      One of three columns
    </div>
     <div class="col-sm footer-copyright">
    © 2020 Copyright:
    </div>
    
    <div class="col-sm">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>  
  </div>
   
  </div>
</footer>
